.left-panel {
    width: 33%;
    float:left;
    background-color: dimgrey;
}

.main-content {
    width: 66%;
    float: right;
    background-color: #282c34;
    min-height: 100vh;
}

#map {
    height: 480px;
}
