.left-panel {
    width: 34%;
    float:left;
    background-color: #d9ecf1;
}

.main-content {
    width: 66%;
    float: right;
    background-color: #7184ab;
    min-height: 100vh;
}

#map {
    height: 480px;
}

.open-hours-container {
    margin: 5vh auto 5vh auto;

}

.open-hours-table {
    margin: auto;
    font-size: 1.5em;
}

th {
    padding: 5px;
}
