.listitem {
    display : inline-block;
}

.menuitem {
    display: inline-block;
    color: dimgrey;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(183,218,248,1) 0%, rgba(0,212,255,1) 100%);
    padding: 5px;
    margin: 0 10px 0 10px;
    border: 0;
    height: clamp(1em, 4em, 4.1em);
    font-size: clamp(1em, 1.4em, 1.6em);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.menuitem:hover {
    cursor: pointer;
    color: black;

}

.navigation {
    background-color: #00d4ff;

}

.menulist {
    margin: 0;
}