.person-container {
    text-align: center;
    margin: auto;
    padding: 15px;
    width: 75%;
    height: 26vh;
    display: block;
    margin-top: 50px;
    border-bottom: 1px solid rgba(2,0,36,1);
}

.person-container-showMore {
    text-align: center;
    margin: auto;
    padding: 15px;
    width: 75%;
    height: 42vh;
    display: block;
    margin-top: 50px;
    border-bottom: 1px solid rgba(2,0,36,1);
}

.id-photo-container {
    float: left;
    width: 20%;
    height: 18vh;

}

.information-container {
    width: 75%;
    float: right;
    font-size: 2.4vh;
    text-align: center;
    text-decoration: none;
    height: 18vh;
}

tr {
    padding: 15px;
    margin: auto;
    line-height: 27px;
}

.information-table-container {
    width: 90%;
    padding: 15px;
}

.info-desc {
    text-align: left;
    font-weight: bold;
}
.info {
    text-align: right;
}

.person-button {
    font-weight: bold;
    color: dimgrey;
    text-align: center;
    padding: 5px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(183,218,248,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
    margin: 10px auto 10px auto;
}

.person-button:hover {
    color: black;
    cursor: pointer;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #b2b2b2;
    background-color: #a0dbc4;
    background: -webkit-gradient(linear, left top,
    left bottom, from(#a8cfce), to(#beeae9));
    background:
            -moz-linear-gradient(top, #a8cfce, #beeae9);
    background:
            -o-linear-gradient(top, #a8cfce, #beeae9);
    background:
            -ms-linear-gradient(top, #a8cfce, #beeae9);
}

.show-more-container {
    text-align: center;
}

.show-more-button:hover {
    color: rgba(0,212,255,1);
    cursor: pointer;
}

.more-information {
    position: static;
}